.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  padding: 5px;

}

button {
  width: auto;
  height: 45px;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background-color: gold;
  color: black;
  border-radius: 10px;
  margin-top: 20px;

}

.display {
  font-size: 1.1em;
  height: 25px;
}